html{
    font-size: 62.5%;
    font-family: 'Texturina', sans-serif;
    height: 100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: $primary-color-dark;
    height: 100%;
    touch-action: none;
}

#root{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


