@import url('https://fonts.googleapis.com/css2?family=Texturina');

@import "./variables";
@import "./base";
@import "./main";
@import "./game";


@import "./components/board";
@import "./components/buttons";
@import "./components/modal";

